<div class="btn-group">
	<% if @user and @user.id == @user_activity.user.id %>

		<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
			<% if @user_activity.activity_state.name == ActivityState::ACCEPTED %>
				<i class="<%= @user_activity.activity_state.thumbnail %>"></i> Accpeted 
			<% elsif @user_activity.activity_state.name == ActivityState::COMPLETED %>
				<i class="<%= @user_activity.activity_state.thumbnail %>"></i> Completed
			<% elsif @user_activity.activity_state.name == ActivityState::FORFEITED %>
				<i class="<%= @user_activity.activity_state.thumbnail %>"></i> Forfeited
			<% end %>
			<span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<li><%= link_to 'Accept',   activity_user_activity_accept_path(@activity,@user_activity),    :remote => true, class: 'accept-user-activity-select' %></li>
		  <li><%= link_to 'Complete', activity_user_activity_complete_path(@activity, @user_activity), :remote => true, class: 'accept-user-activity-select' %></li>
		  <li><%= link_to 'Forfeit',  activity_user_activity_forfeit_path(@activity,@user_activity),   :remote => true, class: 'accept-user-activity-select' %></li>
		</ul>
	<% else %>

		<a class="btn" href="javascript:void(0);">
			<% if @user_activity.activity_state.name == ActivityState::ACCEPTED %>
				<i class="<%= @user_activity.activity_state.thumbnail %>"></i> Accpeted 
			<% elsif @user_activity.activity_state.name == ActivityState::COMPLETED %>
				<i class="<%= @user_activity.activity_state.thumbnail %>"></i> Completed
			<% elsif @user_activity.activity_state.name == ActivityState::FORFEITED %>
				<i class="<%= @user_activity.activity_state.thumbnail %>"></i> Forfeited
			<% end %>
		</a>
	<% end %>
</div>

<script type="text/javascript">

$(document).ready(function() { 

	$(document)
	.on('ajax:success', '.accept-user-activity-select', function(event, data, status, xhf) {
		$('.activity-actions').html(data);
	});	

	$(document)
	.on('ajax:error', '.accept-user-activity-select', function(event, data, status, xhf) {
		pushFlash({message:'Error selecting activity action.', state: 'error', fadeOut: 5000});
	});
});
</script>