<%= hidden_field_tag 'activity-id', @activity.id %>
<%= hidden_field_tag 'user-activity-id', @user_activity.id %>

<div class="">

	<div class="row" >

		<div class="span3" >
			<%= image_tag(@user_activity.user.avatar.url(:square), size: '300x300', class: 'img-rounded') %>	
			<label><h2><%= @user_activity.user.name %></h2></label>
			<hr/>
			<div>
				<ul class="list-unstyled" >
					<li><b>Acitivies Completed: </b><%= @user_activity.user.stats[:completed] %></li>
					<li><b>Acitivies Accepted: </b><%= @user_activity.user.stats[:accepted] %></li>
					<li><b>Users Following: </b><%= @user_activity.user.stats[:following] %></li>
				</ul>
			</div>
		</div><!-- user -->


		<div class="span9">

			<div >
				<span class="pull-right" >
					<span class="activity-actions">
					<%= render 'action'%>
					</span>
					<% if @current_user and (@current_user.id == @user_activity.user.id or @current_user.role = User::SUPER_ADMIN) %>
						<%= link_to 'Edit', edit_activity_user_activity_path(@activity,@user_activity), class: 'btn' %>
					<% end %>
				</span>	
			</div>

			<div>
				<div class="text-left">
					<h1><%= @activity.name %></h1>
					<span  class="text-left">
						<b><%= @activity.tag_list %></b>
					</span>
				</div>
					
				<hr/>
				<div>
					<label><b>Description:</b></label>
					<%= with_new_lines @activity.description %>
				</div>
			</div>


			<% if !@user_activity.report.blank? %>

			<div>
				<hr/>
				<label><b>Report:</b></label>
				<%= with_new_lines @user_activity.report %>
			</div>

			<% end %>

			
		</div><!-- activity -->
	</div><!-- row -->
</div><!-- well -->





<br/>
<hr/>
<br/>

<div class="row">


	<div class="span6">
		<% if !@user_activity.video_url.blank? %>
		<div class="center">
			<label><b>User Activty Video:</b></label>
			<% if @user_activity.video_url %>
				<% if @user_activity.video_url.include?('youtube') or @user_activity.video_url.include?('youtu.be') %>
					<%= auto_html(@user_activity.video_url) { youtube } %>
				<% elsif @user_activity.video_url.include? 'vimeo' %>
					<%= auto_html(@user_activity.video_url) { vimeo } %>
				<% else %>
					<%= auto_html(@user_activity.video_url) { simple_format; link(:target => 'blank') } %>
				<% end %>
			<% end %>
		</div>
		<% end %>
	</div>

	<div class="span6">
		<% if !@user_activity.user_activity_images.empty? %>
		<div class="center">
			<label><b>User Pictures:</b></label>
			<div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
				<% @user_activity.user_activity_images.each do |activity_image| %>
					<%= link_to image_tag(activity_image.image.url(:square)), activity_image.image.url(:large), title: activity_image.image_file_name, 'data-gallery' => 'gallery' %>
			 	<% end %>
			</div>
		</div>
		<% end %>
	</div>

</div>


<div id="modal-gallery" class="modal modal-gallery hide fade" tabindex="-1">
  <div class="modal-header">
      <a class="close" data-dismiss="modal">&times;</a>
      <h3 class="modal-title"></h3>
  </div>
  <div class="modal-body"><div class="modal-image"></div></div>
  <div class="modal-footer center">
      <a class="btn btn-primary modal-next">Next <i class="icon-arrow-right icon-white"></i></a>
      <a class="btn btn-info modal-prev"><i class="icon-arrow-left icon-white"></i> Previous</a>
  </div>
</div>
		

