<%= hidden_field_tag 'activity-id', @activity.id %>
<%= hidden_field_tag 'user-activity-id', @user_activity.id %>



<div class="row" >

	<div class="span3" >
		<%= image_tag(@user_activity.user.avatar.url(:square), size: '300x300', class: 'img-rounded') %>	
		<div class="text-center">
			<label><h2><%= link_to @user_activity.user.name, user_path(@user_activity.user) %></h2></label>
		</div>
		<hr/>
		<div>
			<%= render partial: 'users/stats', locals: { user: @user_activity.user} %>
		</div>
	</div><!-- user -->


	<div class="span9">

		<div >
			<span class="pull-right" >
				<span class="activity-actions">
				<%= render 'action'%>
				</span>
				<% if @current_user and ((@current_user.id == @user_activity.user.id) or (@current_user.role == User::SUPER_ADMIN)) %>
					<%= link_to 'Edit', edit_activity_user_activity_path(@activity,@user_activity), class: 'btn' %>
				<% end %>
			</span>	
		</div>

		<div>
			<div class="text-left">
				<h1><%= link_to @activity.name, activity_path(@activity) %></h1>
				<span  class="text-left">
					<b><%= @activity.tag_list %></b>
				</span>
			</div>
				
			<hr/>
			<div>
				<label><b>Description:</b></label>
				<%= with_new_lines @activity.description %>
			</div>
		</div>


		<% if !@user_activity.report.blank? %>

		<div>
			<hr/>
			<label><b>Report:</b></label>
			<%= with_new_lines @user_activity.report %>
		</div>

		<% end %>

		
	</div><!-- activity -->
</div><!-- row -->






<br/>
<hr/>
<br/>

<div class="row">


	<div class="span6 text-center">
		<% if !@user_activity.video_url.blank? %>
		<div>
			<label><b>Activity Video:</b></label>
		</div>
		<div class="video-container">
			<label><b>User Activty Video:</b></label>
			<% if @user_activity.video_url %>
				<% if @user_activity.video_url.include?('youtube') or @user_activity.video_url.include?('youtu.be') %>
					<%= auto_html(@user_activity.video_url) { youtube } %>
				<% elsif @user_activity.video_url.include? 'vimeo' %>
					<%= auto_html(@user_activity.video_url) { vimeo } %>
				<% else %>
					<%= auto_html(@user_activity.video_url) { simple_format; link(:target => 'blank') } %>
				<% end %>
			<% end %>
		</div>
		<% end %>
	</div>

	<div class="span6">
		<% if !@user_activity.user_activity_images.empty? %>
		<div>
			<div class="text-center">
			<label><b>User Pictures:</b></label>
			</div>
			
			<div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
				<ul class="wall" style="list-style-type: none; position:relative;">
				<% @user_activity.user_activity_images.each do |activity_image| %>
					<li class="item">
					<%= link_to image_tag(activity_image.image.url(:square), size: '175x175'), activity_image.image.url(:large), title: activity_image.image_file_name, 'data-gallery' => 'gallery' %>
					</li>
			 	<% end %>
			 	</ul>
			</div>
		</div>
		<% end %>
	</div>

</div>




<div id="modal-gallery" class="modal modal-gallery hide fade" tabindex="-1">
  <div class="modal-header">
      <a class="close" data-dismiss="modal">&times;</a>
      <h3 class="modal-title"></h3>
  </div>
  <div class="modal-body"><div class="modal-image"></div></div>
  <div class="modal-footer center">
		<a class="btn btn-info modal-prev"><i class="icon-arrow-left icon-white"></i> Previous</a>
    <a class="btn btn-info modal-next">Next <i class="icon-arrow-right icon-white"></i></a>      
  </div>
</div>

<script type="text/javascript">
	
$(window).load(function() { 
	$('.wall').masonry( {
		"isFitWidth": true,
	  columnWidth: 175,
	  itemSelector: '.item'
	});
});


</script>