<div>
	<%= image_tag(user.avatar.url(:square), size: '300x300', class: 'img-rounded') %>	
	<label><h2><%= user.name %></h2></label>
	<hr/>
	<div>
		<%= render partial: '/users/stats', locals: { user: @current_user } %>
	</div>
	<div class="">
		Check out my wall <%= link_to 'here', user_wall_path(user), class: 'btn btn-primary' %>
	</div>
	<div>
		<% if  @current_user and @current_user.id == user.id %>
		<%= link_to 'Friend Requests', friends_requests_url %>
		<% end %>
	</div>
</div>