<div>
	<%= image_tag(user.avatar.url(:square), size: '300x300', class: 'img-rounded') %>	
	<label><h2><%= user.name %></h2></label>
	<hr/>
	<div>
		<ul class="list-unstyled" style="margin-left:0px;" >
			<li><b>Completed: </b><%= user.stats[:completed] %></li>
			<li><b>Accepted: </b><%= user.stats[:accepted] %></li>
			<li><b>Followers: </b><%= user.stats[:following] %></li>
		</ul>
	</div>
	<div class="">
		Check out my wall <%= link_to 'here', user_wall_path(user), class: 'btn btn-primary' %>
	</div>
	<div>
		<% if user and @current_user.id == user.id %>
		<%= link_to 'Friend Requests', friends_requests_url %>
		<% end %>
	</div>
</div>