<div class="row">
	<div class="span3" >
			<%= image_tag(@current_user.avatar.url(:square), size: '300x300', class: 'img-rounded') %>	
			<label><h2><%= @current_user.name %></h2></label>
			<hr/>
			<div>
				<%= render partial: 'users/stats', locals: { user: @current_user } %>
			</div>
	</div><!-- current_user -->

	<div class="span9">
		
		<h3> <%= link_to 'Accpeted Activities', activities_accepted_path %> </h3>
		<% if !@accepted.empty? %>
		<%= render :partial => 'table_user_activities', locals: {user_activities: @accepted} %>
		<% else %>
		<p class="lead">No accepted activities</p>
		<% end %>


		<h3> <%= link_to 'Activities Following', activities_following_path %> </h3>
		<% if !@following.empty? %>
		<%= render :partial => 'table_user_activities', locals: {user_activities: @following} %>
		<% else %>
		<p class="lead">Not following any users</p>
		<% end %>


		<h3> <%= link_to ' Activities Watching', activities_watching_path %> </h3>
		<% if !@watching.empty? %>
		<%= render partial: 'table_activities', locals: {activities: @watching} %>
		<% else %>
		<p class="lead">Not watching any activites</p>
		<% end %>

		<h3> <%= link_to ' Activities Completed', activities_completed_path %> </h3>
		<% if !@completed.empty? %>
		<%= render :partial => 'table_user_activities', locals: {user_activities: @completed} %>
		<% else %>
		<p class="lead">No completed activities</p>
		<% end %>

	</div>

</div>





