
<aside class="span3">
  <section>
  	<p><strong><%= @user.name %></strong></p>
  	<p><%= image_tag @user.avatar.url :thumb %></p>
  </section>
</aside>


<span class="pull-right">
<% if @current_user and @current_user.id != @user.id %>
	<% if @current_user.following? @user %>
		<%= link_to 'Following', 'javascript:void(0);', class: 'btn disabled' %>
	<% else %>	
		<%= link_to 'Follow', '#follow', class: 'btn', remote: true %>
	<% end %>
<% end %>
</span>

<%= render 'table_activities' %>

