
<div class="row">
	<div class="span3" >
		<%= render partial: 'user', locals: { user: @user } %>
	</div><!-- user -->

	<div class="span9">
		<span class="pull-right">

			<% if @current_user.id != @user.id %>
				<% if @current_user.pending_invited.include? @user %>
					<label class="btn">Pending Request <i class="icon-envelope"></i> </label>
				<% elsif @current_user.friend_with? @user %>
					<label class="btn">Friends <i class="icon-ok"></i></label>
				<% else %>	
					<%= link_to friend_invite_url(@user), class: 'btn', remote: true, id:'friend_invite_select' do %> 
						Add Friend <i class="icon-plus"></i> 
					<% end %>
				<% end %>
			<% end %>

		</span>

		<% if !@user.activities_accepted.empty? %>
		<h3>Accpeted Activities</h3>
		<%= render :partial => 'table_user_activities', locals: {user_activities: @user.activities_accepted} %>
		<% end %>
		<% if !@user.activities_completed.empty? %>
		<h3>Completed Activities</h3>
		<%= render :partial => 'table_user_activities', locals: {user_activities: @user.activities_completed} %>
		<% end %>
	</div>

</div>




<script type="text/javascript">

$(document).ready(function() { 
	
	$(document)
	.on('ajax:success', '#friend_invite_select', function(event, data, status, xhf) {
		console.log("Success");
		$('#friend_invite_select').html('Sent Request <i class="icon-envelope"></i>');
		pushFlash({message:'<%= "Added #{@user.name}" %>', state: 'success', fadeOut: 5000});
	});	

	$(document)
	.on('ajax:error', '#friend_invite_select', function(event, data, status, xhf) {
		console.log("Error");
		pushFlash({message:'<%= "Error adding #{@user.name}" %>', state: 'error', fadeOut: 5000});
	});

});
</script>