
<div class="row">
	<div class="span3" >
		<%= render partial: 'user', locals: { user: @user } %>
	</div><!-- user -->

	<div class="span9">
		<span class="pull-right">
		<% if @current_user and @current_user.id != @user.id %>
			<% if @current_user.following? @user %>
				<%= link_to 'Unfollow', user_unfollow_url(@user), class: 'btn', remote: true, id:'unfollow_user_select' %>
			<% else %>	
				<%= link_to 'Follow', user_follow_url(@user), class: 'btn', remote: true, id:'follow_user_select' %>
			<% end %>
		<% end %>
		</span>

		<% if !@user.activities_accepted.empty? %>
		<h3>Accpeted Activities</h3>
		<%= render :partial => 'table_user_activities', locals: {user_activities: @user.activities_accepted} %>
		<% end %>
		<% if !@user.activities_completed.empty? %>
		<h3>Completed Activities</h3>
		<%= render :partial => 'table_user_activities', locals: {user_activities: @user.activities_completed} %>
		<% end %>
	</div>

</div>




<script type="text/javascript">

$(document).ready(function() { 
	
	$(document)
	.on('ajax:success', '#follow_user_select', function(event, data, status, xhf) {
		// $('#follow_user_select').addClass('disabled');
		$('#follow_user_select').text('Unfollow');
		$('#follow_user_select').prop("href", "<%= user_unfollow_url(@user) %>");
		$('#follow_user_select').attr('id','unfollow_user_select')
	});	

	$(document)
	.on('ajax:error', '#follow_user_select', function(event, data, status, xhf) {
		pushFlash({message:'Error following user', state: 'error', fadeOut: 5000});
	});


	$(document)
	.on('ajax:success', '#unfollow_user_select', function(event, data, status, xhf) {
		// $('#unfollow_user_select').addClass('disabled');
		$('#unfollow_user_select').text('Follow');
		$('#unfollow_user_select').prop("href", "<%= user_follow_url(@user) %>");
		$('#unfollow_user_select').attr('id','follow_user_select')
	});	

	$(document)
	.on('ajax:error', '#unfollow_user_select', function(event, data, status, xhf) {
		pushFlash({message:'Error unfollowing user.', state: 'error', fadeOut: 5000});
	});

});
</script>