<% if @wall_content.empty? and @current_user and @user and @user.id != @current_user.id %>

<div class="row lead">
	<div class="span2"></div>
	<div class="span10">
		<b>You</b>: Let me see your wall. <br/>
		<b><%= @user.name %></b>: [with a small wave of the hand] You don’t need to see this wall. <br/>
		<b>You</b>: I do not need to see this wall. <br/>
		<b><%= @user.name %></b>: This is not the wall you’re looking for. <br/>
		<b>You</b>: This is not the wall I am looking for. <br/>
		<br/>
		<br/>
		<h2>There is really nothing to see here ... yet.</h2>
	</div>
</div>

<% elsif @wall_content.empty? %>

<div class="row lead">
	<div class="span2"></div>
	<div class="span10">
		<h2>There is really nothing to see here ... yet.</h2>
	</div>
</div>

<% else %>

<ul class="user_wall" style="list-style-type: none; position:relative;">

<% @wall_content.each do |user_activity, type, item| %>

 
	<% if can_view? @current_user  %>

		<% if type == 'IMAGE' %>
			<li class="item">
				<%= link_to image_tag(item.image(:square), size: "200x200"), activity_user_activity_path(user_activity.activity, user_activity) %>
			</li>
		<% end %>
		<% if type == 'VIDEO' %>
			<li class="item w2">
				<% if item.include?('youtube') or item.include?('youtu.be') %>
					<%= auto_html(item) { youtube(:width => 200, :height => 200) } %>
				<% elsif item.include? 'vimeo' %>
					<%= auto_html(item) { vimeo(:width => 200, :height => 200) } %>
				<% else %>
					<%= auto_html(item) { simple_format(:width => 200, :height => 200); link(:target => 'blank') } %>
				<% end %>
			</li>
		<% end %>
		
	<% end %>


<% end %>

</ul>

<style type="text/css">
	.item.w2 { margin-bottom:-5px; }
</style>

<script type="text/javascript">

$(window).load(function() { 
	$('.user_wall').masonry( {
	  columnWidth: 200,
	  itemSelector: '.item'
	});
});
	  
</script>
<% end %>