

<div>
<%= form_tag activities_filter_path, id: 'filter_form_activities', :remote=>true do %>
	
	<%=  autocomplete_field_tag 'name', '', autocomplete_activity_name_activities_path, :size => 75, :class => 'input-xlarge', :placeholder=>t('shared.search')%>	
  <%= text_field_tag 'filter_activity_tags', '', :maxlength => 100, :placeholder=>'Search by tag',	:class => 'input-xlarge'  %>
 	<%= submit_tag 'Search', class: 'btn', id: 'filter_activity_submit' %> 

<% end %>


<%= javascript_include_tag "autocomplete-rails.js" %>
<script type="text/javascript">

$(document).ready(function() { 

	// $('#filter_activity_tags').tagsManager();

	$('#filter_activity_submit').click(function(){
		$('#filter_form_activities').submit();
	});

	$(document)
  .on('ajax:error', '#filter_form_activities', function(event, data, status, xhr) {
    pushFlash({message:"Error filtering results", state: 'error', fadeOut: 5000});
  })
  .on('ajax:success', "#filter_form_activities", function(event, data, status, xhr) {
    $('.filter_activity_results').html(data);
  });
	
});
</script>


</div>