
<div>
<%= form_tag activities_filter_path, id: 'filter_form_activities', :remote=>true do %>
	
	<%= label_tag 'filter_activity_text', 'Search by Text' %>
	<%= text_field_tag 'filter_activity_text', '', :maxlength => 50,  :class => 'input-xlarge' %>		
	<%= label_tag 'filter_activity_tags', 'Search by Tag' %>
  <%= text_field_tag 'filter_activity_tags', '', :maxlength => 100, :class => 'input-xlarge'  %>
  
<% end %>

<script type="text/javascript">

$(document).ready(function() { 

	$('#filter_activity_tags').tokenInput('<%= activities_filter_tags_path format: :json %>', {
			'searchingText': 'Loading...',
			'hintText': 'Search By Tag',
			'theme': 'facebook',
			onAdd: function() { $('#filter_form_activities').submit(); },
			onDelete: function() { $('#filter_form_activities').submit(); }
		}
	);

	$(document)
  .on('ajax:error', '#filter_form_activities', function(event, data, status, xhr) {
    pushFlash({message:"Error filtering results", state: 'error', fadeOut: 5000});
  })
  .on('ajax:success', "#filter_form_activities", function(event, data, status, xhr) {
    $('.filter_activity_results').html(data);
  });
	
});
</script>


</div>