
<div>
<%= form_tag activities_filter_path, id: 'filter_form_activities', :remote=>true do %>
	
	<%= label_tag 'filter_activity_text', 'Search by Text' %>
	<%= text_field_tag 'filter_activity_text', '', :maxlength => 50,  style: "width:100%;" %>		
	<%= label_tag 'filter_activity_tags', 'Search by Tag' %>
  <%= text_field_tag 'filter_activity_tags', '', :maxlength => 100, style: "width:100%;" %>
  
<% end %>

<script type="text/javascript">

$(document).ready(function() { 

	$('#filter_activity_tags').tagsManager({
    typeahead: true,
    typeaheadAjaxSource: '<%= activities_filter_tags_path format: :json %>',
    typeaheadAjaxPolling: true
  });

	var timer;
	$(document).on('keyup input', '#filter_activity_text', function() {    
    var form = $('#filter_form_activities');
    timer && clearTimeout(timer);
    timer = setTimeout(function(){ 
      form.submit();
    }, 250);
  });

  $(document)
  .on('ajax:error', '#filter_form_activities', function(event, data, status, xhr) {
    pushFlash({message:"Error filtering results", state: 'error', fadeOut: 5000});
  })
  .on('ajax:success', "#filter_form_activities", function(event, data, status, xhr) {
    $('.filter_activity_results').html(data);
  });
	
});
</script>


</div>