<h1>Editing activity</h1>

<%= form_for @activity, :html => { :multipart => true } do |f| %>
	
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% @activity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :tag_list %>
    <%= f.text_field :tag_list, autocomplete: :off, placeholder: 'Add tags here' %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_area :description, size: '30x10' %>
  </p>

  <div class="row">

    <div class="span6">
        <%= f.label :video_url %>
        <%= f.text_field :video_url %>
    </div>
    
    <div class="span6" id="render_video_container"></div>
      
  </div>

  <div class="row">
    <div class="span6" >
      
      <h4>New Files</h4>
      <% if @activity.activity_images.count < 5 %>
        
        <%= f.fields_for :activity_images do |asset_fields| %>

          <% if asset_fields.object.new_record? %>
          <p>
            

            <div class="fileupload fileupload-new" data-provides="fileupload">
              <span class="btn btn-file">
                <span class="fileupload-new">Select file</span>
                <span class="fileupload-exists">Change</span>
                <%= asset_fields.file_field :image %>
              </span>
              <span class="fileupload-preview"></span>
              <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
            </div>

          </p>
          <% end %>

        <% end %>
      <% else %>
        <p>Cannot add new images, max is 5. Delete some images to add new ones.<p>
      <% end %>

    </div>

    <div class="span6" >

      <h4>Old Files</h4> 

      <%= f.fields_for :activity_images do |asset_fields| %>      


        <% unless asset_fields.object.new_record? %>
        <div class="row">
        <div class="span2">
          <%= link_to image_tag(asset_fields.object.image.url(:square)), asset_fields.object.image.url(:square) %>     
        </div>  
        <label class="checkbox span2">
          <%= asset_fields.check_box :_destroy %> Delete
        </label>
        </div>
          
        <% end %>

      <% end %>
      
    </div>


  </div>
  

	

	

  <p><%= f.submit class: 'btn btn-primary' %></p>

<% end %>


<script type="text/javascript">

$(document).ready(function() { 

	$('#activity_description').autoGrowTextArea();

	$('#activity_tag_list').tagsManager({
		prefilled: "<%= @activity.tag_list %>",
    typeahead: true,
    typeaheadAjaxSource: '<%= activities_filter_tags_path format: :json %>',
    typeaheadAjaxPolling: true
  });



  $('#activity_video_url').change(function(){

    if( $(this).val() == undefined ) return false;
    if($.trim($(this).val()).length == 0) return false;

    $.ajax({
      type: 'POST',
      url: '<%= render_video_url %>',
      data: { 'url': $(this).val() },
      success: function(response){
        console.log(response);
        $('#render_video_container').html(response);
      },
      error: function(response){

      }
    });

    return true;
  });


	
});
</script>