<%= render 'activities/form_filter' %>

Cannot find an activity? <%= link_to 'Create one here.', new_activity_path %>

<div class="filter_activity_results">

	<%= render 'table_activities' %>

</div>

<%= stylesheet_link_tag "application", "token-input-facebook" %>
<%= javascript_include_tag :application, "jquery.tokeninput" %>