<%= hidden_field_tag 'activity-id', @activity.id %>

<div class="row" >
		<div class="span12">

			<% if @user %>
				<span class="pull-right">

				<% if !@user_activity.nil? %>
					<%= link_to user_user_activity_path(@user_activity.user, @user_activity), class: 'btn' do %> 
						<% if @user_activity.state == UserActivity::ACCEPTED %>
								Accepted <i class="icon-tasks"></i>
						<% elsif @user_activity.state == ActivityState::COMPLETED %>
								Completed <i class="icon-ok"></i>			
						<% elsif @user_activity.state == ActivityState::FORFEITED %>
								Forfeited <i class="icon-circle-ban"></i>
						<% end %>
					<% end %>
				<% else %>
					<%= link_to activity_accept_path(@activity), class: 'btn', method: :post do %> 
						Accept <i class="icon-plus"></i> 
					<% end %>
				<% end %>

				<% if can? :edit, @activity %>
					<%= link_to 'Edit', edit_activity_path(@activity), class: 'btn' %>
				<% end %>

				</span>
			<% end %>

	</div><!-- activity -->
</div><!-- row -->

<div class="row" >
	<div class="span12">

		<div class="text-left">
			<h1><%= link_to @activity.name, activity_path(@activity) %></h1>
			<span  class="text-left">
				<b><%= @activity.tag_list %></b>
			</span>
		</div>
		<hr/>
		<div>
			<label><b>Description:</b></label>
			<%= with_new_lines @activity.description %>
		</div>

	</div><!-- activity -->
</div><!-- row -->


<br/>
<hr/>
<br/>

<div class="row">


	<div class="span6 text-center">
		<% if !@activity.video_url.blank? %>
		<div>
			<label><b>Activity Video:</b></label>
		</div>
		<div class="video-container">
			<% if @activity.video_url %>
				<% if @activity.video_url.include?('youtube') or @activity.video_url.include?('youtu.be') %>
					<%= auto_html(@activity.video_url) { youtube } %>
				<% elsif @activity.video_url.include? 'vimeo' %>
					<%= auto_html(@activity.video_url) { vimeo } %>
				<% else %>
					<%= auto_html(@activity.video_url) { simple_format; link(:target => 'blank') } %>
				<% end %>
			<% end %>
		</div>
		<% end %>
	</div>

	<div class="span6">
		<% if !@activity.activity_images.empty? %>
		<div>

			<div class="text-center">
			<label><b>Activity Pictures:</b></label>
			</div>
			
			<div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
				<ul class="wall" style="list-style-type: none; position:relative;">
				<% @activity.activity_images.each do |activity_image| %>
				<li class="item">
					<%= link_to image_tag(activity_image.image.url(:square), size: '175x175'), activity_image.image.url(:large), title: activity_image.image_file_name, 'data-gallery' => 'gallery' %>
				</li>
			 	<% end %>
			 </ul>
			</div>

		</div>
		<% end %>
	</div>

</div>




<div id="modal-gallery" class="modal modal-gallery hide fade" tabindex="-1">
  <div class="modal-header">
      <a class="close" data-dismiss="modal">&times;</a>
      <h3 class="modal-title"></h3>
  </div>
  <div class="modal-body"><div class="modal-image"></div></div>
  <div class="modal-footer center">
		<a class="btn btn-info modal-prev"><i class="icon-arrow-left icon-white"></i> Previous</a>
    <a class="btn btn-info modal-next">Next <i class="icon-arrow-right icon-white"></i></a>      
  </div>
</div>


<script type="text/javascript">

$(window).load(function() { 
	$('.wall').masonry( {
		"isFitWidth": false,
	  columnWidth: 175,
	  itemSelector: '.item'
	});
});

</script>

